  <!-- ***** Wellcome Area Start ***** -->
<section class="wellcome_area clearfix" id="home">
    <div class="container h-100">
        <br><br><br><br>
        <div class="row h-100 align-items-center">
            <div class="col-12 col-sm-7 col-lg-7">
                <h1 style="color:black;">Now, your smartphone</h1>
                <h1 style="color:black;">is your car key</h1>
                <p>The best keyless entry system in your car in any brands, any models. <br>Now, you don't need to bring your car key anymore.</p>
                <br>
                <a target="_blank" href="https://youtu.be/TJtzQhDwEdU"><button class="btn video-btn"><i class="fa fa-play" aria-hidden="true"></i></button></a>
                <br><br>
                <a href="#buy"><button type="submit" class="btn submit-btn">GET ONKEY</button></a>
            </div>
            <div class="col-12 col-sm-5 col-lg-5">
                <%=image_tag("scr-img/main.png", alt: "")%>
            </div>
        </div>
    </div>
</section>
<!-- ***** Wellcome Area End ***** -->
<!-- ***** App Screenshots Area Start ***** -->
<section class="app-screenshots-area bg-white section_padding_100 clearfix"  id="products">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <!-- Heading Text  -->
                <div class="section-heading">
                    <h2>What can you do</h2>
                    <div class="line-shape"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <!-- App Screenshots Slides  -->
                <div class="app_screenshots_slides owl-carousel">
                    <div class="single-shot">
                        <%=image_tag("scr-img/phone_main.png", alt: "")%>
                        <br>
                        <h4 style="color:black; text-align: center">Lock/Un-Lock</h4>
                    </div>
                    <div class="single-shot">
                        <%=image_tag("scr-img/phone_parking.png", alt: "")%>
                        <br>
                        <h4 style="color:black; text-align: center">Parking Location</h4>
                    </div>
                    <div class="single-shot">
                        <%=image_tag("scr-img/phone_rent.png", alt: "")%>
                        <br>
                        <h4 style="color:black; text-align: center">Share Your Car</h4>
                    </div>
                    <div class="single-shot">
                        <%=image_tag("scr-img/phone_car_list.png", alt: "")%>
                        <br>
                        <h4 style="color:black; text-align: center">Manage Your Cars</h4>
                    </div>
                    <div class="single-shot">
                        <%=image_tag("scr-img/phone_friend_list.png", alt: "")%>
                        <br>
                        <h4 style="color:black; text-align: center">Manage Rental List</h4>
                    </div>
                    <div class="single-shot">
                        <%=image_tag("scr-img/phone_setting.png", alt: "")%>
                        <br>
                        <h4 style="color:black; text-align: center">Manage Your Car</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Special Area Start ***** -->
<section class="special-area back-gound-color section_padding_100" id="howitworks">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section Heading Area -->
                <div class="section-heading text-center">
                    <h2 style="color:white;" >How it works?</h2>
                    <div class="line-shape"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Single Special Area -->
            <div class="col-12 col-md-2">
                <div class="single-special text-center wow fadeInUp" data-wow-delay="0.2s">
                    <div class="single-icon">
                        <i class="fa fa-mobile fa-2x" aria-hidden="true"></i>
                    </div>
                    <h4>Dismount</h4>
                    <p>Decompose your original car key</p>
                </div>
            </div>
            <!-- Single Special Area -->
            <div class="col-12 col-md-2">
                <div class="single-special text-center wow fadeInUp" data-wow-delay="0.4s">
                    <div class="single-icon">
                        <i class="fa fa-bluetooth-b" aria-hidden="true"></i>
                    </div>
                    <h4>Eject</h4>
                    <p>Eject PCB in the car key</p>
                </div>
            </div>
            <!-- Single Special Area -->
            <div class="col-12 col-md-2">
                <div class="single-special text-center wow fadeInUp" data-wow-delay="0.6s">
                    <div class="single-icon">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                    </div>
                    <h4>Attach</h4>
                    <p>Attach PCB with the device</p>
                </div>
            </div>
            <div class="col-12 col-md-2">
                <div class="single-special text-center wow fadeInUp" data-wow-delay="0.6s">
                    <div class="single-icon">
                        <i class="fa fa-car" aria-hidden="true"></i>
                    </div>
                    <h4>Connect</h4>
                    <p>Connect device with phone</p>
                </div>
            </div>
            <!-- Single Special Area -->
            <div class="col-12 col-md-2">
                <div class="single-special text-center wow fadeInUp" data-wow-delay="0.6s">
                    <div class="single-icon">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                    </div>
                    <h4>Install </h4>
                    <p>Install device in the car</p>
                </div>
            </div>
            <div class="col-12 col-md-2">
                <div class="single-special text-center wow fadeInUp" data-wow-delay="0.6s">
                    <div class="single-icon">
                        <i class="fa fa-car" aria-hidden="true"></i>
                    </div>
                    <h4>Keyless</h4>
                    <p>Smartphone is your car key</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Special Area End ***** -->

<!-- ***** Awesome Features Start ***** -->
<section class="awesome-feature-area section_padding_100 clearfix" style="background-color: #F6F8F9"  id="values">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Heading Text -->
                <div class="section-heading text-center">
                    <h2>What can brings to you</h2>
                    <div class="line-shape"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Single Feature Start -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-feature">
                    <i class="fa fa-key" aria-hidden="true"></i>
                    <h5>No More Key</h5>
                    <p>Keyless access to car.lock/unlock your car with your smartphone.No more lose your key.</p>
                </div>
            </div>
            <!-- Single Feature Start -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-feature">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <h5>Find your car easily</h5>
                    <p>Onkey  remember the parking location when you lock your car with OnKey.</p>
                </div>
            </div>
            <!-- Single Feature Start -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-feature">
                    <i class="fa fa-car" aria-hidden="true"></i>
                    <h5>Rent your car</h5>
                    <p>Grant access to car to others by chatting, SMS service.</p>
                </div>
            </div>
            <!-- Single Feature Start -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-feature">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                    <h5>Security</h5>
                    <p>In-House developed security system applied.</p>
                </div>
            </div>
            <!-- Single Feature Start -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-feature">
                    <i class="fa fa-cloud" aria-hidden="true"></i>
                    <h5>Safety Network</h5>
                    <p>Using p2p network system is much safer than using LAN network system in safety and stability.</p>
                </div>
            </div>
            <!-- Single Feature Start -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-feature">
                    <i class="fa fa-dollar" aria-hidden="true"></i>
                    <h5>Earn Extra Money</h5>
                    <p>Have a car? Share on OnKey Make up to $10,000/year.</p>
                </div>
            </div>
        </div>

    </div>
</section>

 <section class="special-area back-gound-color bg-white section_padding_100" id="lineup">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section Heading Area -->
                    <div class="section-heading text-center">
                        <h2>Lineup</h2>
                        <div class="line-shape"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Single Special Area -->
                 <div class="col-12 col-md-3">
                    <div class=" text-center wow fadeInUp" data-wow-delay="0.2s">
                        <%=image_tag("scr-img/device.png", alt: "")%>
                        <br><br>
                        <h4 style="color:#0D80E1">ONKEY device</h4>
                        <br>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="single-special text-center wow fadeInUp" data-wow-delay="0.2s">
                        <h4>Standard</h4>
                        <p>Keyless / Locatable / Rentable</p>
                        <p>+</p>
                        <p>Touch Button</p>
                        <hr>
                        <p>15 minutes for attach</p>
                        <hr>
                        <p>Non-Modification</p>
                        <p>B2B2C /  After Market Type</p>
                        <hr>
                        <div class="sign-up-button" style="text-align: center !important;">
                            <a href="#buy">GET Standard</a>
                        </div>
                    </div>
                </div>
                <!-- Single Special Area -->
                <div class="col-12 col-md-3">
                    <div class="single-special text-center wow fadeInUp" data-wow-delay="0.4s">
                        <h4>Pro</h4>
                        <p>Keyless / Locatable / Rentable</p>
                        <p>+</p>
                        <p>Touch Button / OBD-Data</p>
                        <hr>
                        <p>15 minutes for attach</p>
                        <hr>
                        <p>Non-Modification</p>
                        <p>B2B2C /  After Market Type</p>
                        <hr>
                        <div class="sign-up-button" style="text-align: center !important;">
                            <a href="#buy">GET Pro</a>
                        </div>
                    </div>
                </div>
                <!-- Single Special Area -->
                <div class="col-12 col-md-3">
                    <div class="single-special text-center wow fadeInUp" data-wow-delay="0.6s">
                        <h4>Enterprise</h4>
                        <p>Keyless / Locatable / Rentable </p>
                        <p>+</p>
                        <p>Toggle Button / Remote Start / FMS</p>
                        <hr>
                        <p>30 minutes for attach</p>
                        <hr>
                        <p>Modification</p>
                        <p>B2B / Enterprise</p>
                        <hr>
                        <div class="sign-up-button" style="text-align: center !important;">
                            <a href="#buy">GET Enterprise</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    
    <!-- ***** App Screenshots Area End *****====== -->
    <!-- ***** Contact Us Area Start ***** -->
    <section class="footer-contact-area section_padding_100 clearfix" id="buy">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <!-- Heading Text  -->
                    <div class="section-heading">
                        <h2>Get your first secure smartphone car key</h2>
                        <div class="line-shape"></div>
                    </div>
                    <div class="address-text">
                        <p><span>Address:</span> 3003 North 1st Street, San Jose, CA 95134 </p>
                    </div>
                    <div class="phone-text">
                        <p><span>Phone:</span> 415 509 4217</p>
                    </div>
                    <div class="email-text">
                        <p><span>Email:</span> contact@onkey.kr</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <!-- Form Start-->
                    <div class="contact_from">
                        <form action="#" method="post">
                            <!-- Message Input Area Start -->
                            <div class="contact_input_area">
                                <div class="row">
                                    <!-- Single Input Area Start -->
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="lineup" id="lineup" placeholder="Lineup" required>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="name" id="name" placeholder="Your Name" required>
                                        </div>
                                    </div>
                                    <!-- Single Input Area Start -->
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="email" class="form-control" name="email" id="email" placeholder="Your E-mail" required>
                                        </div>
                                    </div>
                                    <!-- Single Input Area Start -->
                                    <div class="col-12">
                                        <div class="form-group">
                                            <textarea name="message" class="form-control" id="message" cols="30" rows="4" placeholder="Your Message" required></textarea>
                                        </div>
                                    </div>
                                    <!-- Single Input Area Start -->
                                    <div class="col-12">
                                        <button type="submit" class="btn submit-btn">CONTACT US</button>
                                    </div>
                                </div>
                            </div>
                            <!-- Message Input Area End -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Contact Us Area End ***** -->